.card-item {
    margin: 2rem;
    padding: 1rem;
    width: 250px;
    outline: 1px solid #e3e3e3;
    border-radius: 12px;
}

.card-item img {
    max-width: 200px;
}

.text-title {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: #194793;
}

.container-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 2rem;
    padding: 2rem;
}

.card-item {
    display: flex;
    flex-direction: column;
}