.item-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 10px;
}

.item-counter button {
    border: 1px solid #eee;
    color: black;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.item-counter button:hover {
    background-color: #c7c7c7;
}

.item-counter span {
    margin: 0 15px;
    font-size: 16px;
}